{% extends "base.html" %}

{% block content %}
<form method="POST" action="{{ url_for('login') }}">
  {% if error %} <div class="alert alert-danger" role="alert"> {{ error }} </div> {% endif %}
  <div class="mb-3">
    <label class="form-label">Email</label>
    <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label class="form-label">Senha</label>
    <input name="password" type="password" class="form-control" id="exampleInputPassword1">
  </div>
  <button type="submit" class="btn btn-primary">Logar</button>
</form>
{% endblock %}